@import url(https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700,800,900);
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}
body
{
    display: flex;
    min-width: 100vh;
    height: 100%;
    width: 100%;
    background: #8cb1d7;
    object-fit: scale-down;
}
.navbar {
    z-index: 3;
}
.navbarBackground {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: #8cb1d7;
    height: 12%;
    width: 100%;
}

.progress-sheets-logo-button button
{
    position: fixed;
    left: 5%;
    width: 160px;
    height: 60px;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 20px;
}
.progress-sheets-logo-button button span
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #293574;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border: 1px solid #040a29;
}
.progress-sheets-logo-button button:before,
.progress-sheets-logo-button button:after
{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(45deg,#1500ff,#0e1538,#1500ff);
    transition: 0.1s;
}

/*  controlls hover effects  */
.progress-sheets-logo-button button:hover:before
{
    inset: -3px;
}
.progress-sheets-logo-button button:hover:after
{
    inset: -3px;
    filter: blur(5px);
}


.search-button
{
    display: flex;
    position: fixed;
    left: 55%;
    flex-direction: column;
}

.search-button button
{
    top: 15%;
    position: relative;
    width: 140px;
    height: 45px;
    display: inline-block;
    background: #006cb976;
    margin: 20px;
}

.search-button button h1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #2d313476;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    /*  letter-spacing: 2px;  */
    color: #fff;
    border: 1px solid #040a29;
}

.manage-button
{
    display: flex;
    position: fixed;
    left: 65%;
    flex-direction: column;
}

.manage-button button
{
    top: 15%;
    position: relative;
    width: 140px;
    height: 45px;
    display: inline-block;
    background: #006cb976;
    margin: 20px;
}

.manage-button button h1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #2d313476;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    /*  letter-spacing: 2px;  */
    color: #fff;
    border: 1px solid #040a29;
}

.settings-button
{
    display: flex;
    position: fixed;
    left: 75%;
    flex-direction: column;
}

.settings-button button
{
    top: 15%;
    position: relative;
    width: 140px;
    height: 45px;
    display: inline-block;
    background: #006cb976;
    margin: 20px;
}

.settings-button button h1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #2d313476;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    /*  letter-spacing: 2px;  */
    color: #fff;
    border: 1px solid #040a29;
}

.profile-button
{
    display: flex;
    position: fixed;
    left: 85%;
    flex-direction: column;
}

.profile-button button
{
    top: 15%;
    position: relative;
    width: 140px;
    height: 45px;
    display: inline-block;
    background: #006cb976;
    margin: 20px;
}

.profile-button button h1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #2d313476;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    /*  letter-spacing: 2px;  */
    color: #fff;
    border: 1px solid #040a29;
}


.rectangle {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    background: #505052;
    height: 3%;
    width: 100%;
    z-index: 0;
}

.search-bar {
    position: fixed;
    width: 70%;
    margin: 15%;
    max-height: 20px;
    max-width: 100%;
    padding: 5%;
    background: #505052;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    /*padding: 10px 20px;*/
}
.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: #040a29;
    padding: 24px 20px;
    font-size: 20px;
    color: #fff;
}

.progress-sheet-and-labels {
    display: block;
    margin-left: 10%;
    position: absolute;
    object-fit: none;
    overflow: scroll;
    top: 25%;
    z-index: 1;
}
.ninjaName {
    position: absolute;
    display: block;
    left: 27%;
    top: 16%;
    z-index: 2;
}
.levelOneStart {
    position: absolute;
    display: block;
    left: 21%;
    top: 30%;
    z-index: 2;
}
.levelOneComplete {
    position: absolute;
    display: block;
    left: 21%;
    top: 34%;
    z-index: 2;
}
.levelOneNotes {
    position: absolute;
    display: block;
    left: 45%;
    top: 30%;
    z-index: 2;
}
.add-student-form {
    background: #fff;
    flex: 1;
    border: 0;
    outline: #040a29;
    padding: 24px 20px;
    font-size: 20px;
    color: #040a29;
}
.full-name-input {
    position: fixed;
    width: 15%;
    height: 2%;
    left: 20%;
    top: 30%;
    padding: 2%;
    background: #505052;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
}
.level-input {
    position: fixed;
    width: 15%;
    height: 2%;
    left: 40%;
    top: 30%;
    padding: 2%;
    background: #505052;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
}
.add-student-button button {
    top: 30%;
    left: 60%;
    position: fixed;
    width: 120px;
    height: 40px;
    display: inline-block;
    background: #006cb976;
    margin: 20px;
}
.search-results {
    z-index: 3;
    position: fixed;
    top: 80%;
    width: 70%;
    margin: 15%;
    max-width: 100%;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: #fff;
}